@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <div class="well">
                <h1>AppMusic</h1>
                <p class="lead">L'application est un mini réseau social qui permet aux mélomanes de suivre facilement les concerts de leurs artistes préférés.</p>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <img src="~/images/concert.jpg" alt="concert" style=" max-width:100%;" />
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>