@model IEnumerable<MusicApp.Models.Concert>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Artiste</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var c in Model)
        {
        <tr>
            <td>@c.DateTime</td>
            <td>@c.Artist.Name</td>
            <td><button data-concert-id="@c.Id" class="btn btn-default btn-sm js-toggle-attendance" >Allez-y ?</button></td>
        </tr>
        }
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendanc").click(function (e) {
                $.post("/api/attendances", { "": $(e.target).attr("data-concert-id")})
                    .done(function () {
                        $(e.target).removeClass("btn-default").addClass("btn-default").text("Reservé")
                    })
                    .fail(function(){
                        alert("Something failed");
                    });
            });
        });
    </script>

}