@model IEnumerable<MusicApp.Models.Concert>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Artiste</th>
            </tr>
        </thead>
        @foreach (var c in Model)
        {
        <tr>
            <td>@c.DateTime</td>
            <td>@c.Artist.Name</td>
        </tr>
        }
    </table>
</div>