@model IEnumerable<MusicApp.Models.Concert>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <ul>
        @foreach (var c in Model ) {

            <li>@c.DateTime.ToString() <span>........</span>@c.Artist.Name</li>
        }
    </ul>

</div>